@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: white; }

header {
  height: 100vh; }
  header .container {
    height: 100%; }

.container {
  width: 90%;
  margin: 0 auto; }

.justify-sb {
  display: flex;
  justify-content: space-between; }

.align-c-s {
  align-content: stretch; }

.angle-double-up {
  color: white;
  width: 2rem;
  height: 2rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10; }

.navbar {
  width: 100%;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid rgba(226, 61, 81, 0.4);
  padding: 1rem 0;
  transition: all .5s;
  z-index: 10; }
  .navbar .navbar-brand {
    font-size: 2rem; }
  .navbar .navbar-nav {
    font-size: 1.2rem;
    list-style-type: none; }
    .navbar .navbar-nav .nav-item {
      display: inline-block;
      padding: 0.25rem .5rem;
      border: 2px solid #e23d51;
      margin: 0 .2rem;
      font-weight: 700;
      transition: .5s;
      cursor: pointer; }
      .navbar .navbar-nav .nav-item:hover {
        background-color: #e23d51; }
  .navbar a {
    color: white; }

.scrolling-active .navbar-nav .nav-item {
  border: none; }

.selfie {
  display: flex;
  align-items: center; }

.selfie__img {
  width: 60rem;
  margin-right: 5rem; }

.intro-text {
  display: flex;
  align-items: center;
  margin-left: 3rem; }
  .intro-text h1 {
    font-size: 2.4rem; }
  .intro-text div {
    padding-top: 3rem; }

.word-b {
  display: block; }

.font-red {
  color: #e23d51; }

.skills {
  font-size: 1.4rem;
  color: #999999;
  font-weight: 600;
  padding: .5rem; }

.download-resume-btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #e23d51;
  color: white;
  font-size: 1.3rem;
  padding: .5rem;
  font-weight: 600;
  margin-top: 2rem;
  transition: .5s;
  outline: none; }
  .download-resume-btn:hover {
    background-color: #e23d51; }

a {
  text-decoration: none; }

.quotes {
  padding: 1rem .5rem;
  width: 60%;
  margin: 0 auto;
  height: fit-content;
  background-color: #e23d51;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 92% 100%, 0% 100%);
  clip-path: polygon(10% 0, 100% 0%, 92% 100%, 0% 100%); }

blockquote {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 3rem; }

.slider {
  position: relative;
  font-size: 2rem;
  padding: 1rem .5rem;
  width: 60%;
  margin: 0 auto 100px;
  height: 300px;
  background-color: #e23d51;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 92% 100%, 0% 100%);
  clip-path: polygon(10% 0, 100% 0%, 92% 100%, 0% 100%); }
  .slider h2 {
    text-align: center;
    margin: 1rem 0; }
  .slider .slide {
    position: absolute;
    opacity: 0; }
  .slider .slide.active {
    animation: fade 7s infinite; }

@keyframes fade {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.recommendation-letter-btn {
  width: fit-content;
  margin-left: auto;
  color: white;
  text-decoration: underline;
  font-size: 2rem; }

.align-right {
  width: fit-content;
  margin-left: auto;
  transform: translateX(-100%); }

.projects {
  width: 100%;
  margin-bottom: 5rem; }
  .projects h2 {
    text-align: center;
    font-size: 4.5rem;
    color: #e23d51;
    font-weight: 700; }

/* Slideshow container */
.slideshow-container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  /* Slides */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Add an italic font style to all quotes */
  /* Add a blue color to the author */ }
  .slideshow-container .mySlides {
    display: none;
    padding: 8rem;
    text-align: center; }
  .slideshow-container .prev, .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none; }
  .slideshow-container .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px; }
  .slideshow-container .prev:hover, .slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white; }
  .slideshow-container q {
    font-style: italic; }
  .slideshow-container .author {
    color: cornflowerblue; }

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: transparent;
  /* The dots/bullets/indicators */
  /* Add a background color to the active dot/circle */ }
  .dot-container .dot {
    cursor: pointer;
    height: 2px;
    width: 50px;
    margin: 0 2px;
    background-color: rgba(255, 255, 255, 0.25);
    display: inline-block;
    transition: background-color 0.6s ease; }
  .dot-container .active, .dot-container .dot:hover {
    background-color: white; }

.project__image {
  width: 20rem; }

.project__desc {
  width: 80%; }
  .project__desc--title {
    font-size: 2.5rem;
    margin: .5rem 0; }
  .project__desc--text {
    font-size: 1.6rem;
    padding: 1rem;
    text-align: left;
    line-height: 2.5rem; }
  .project__desc--btn {
    font-size: 1.2rem;
    width: fit-content;
    color: white;
    background-color: #e23d51;
    padding: 0.25rem .5rem;
    font-weight: 600; }
  .project__desc .technologies--container {
    display: flex;
    justify-content: space-between; }
  .project__desc .technologies {
    font-size: 1.4rem;
    display: inline-block;
    color: #e23d51;
    font-weight: 700;
    width: 70%;
    text-align: left;
    padding-left: 1rem; }

.contact {
  width: 100%;
  margin: 10rem 0; }
  .contact h2 {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 5rem; }
  .contact a {
    color: white; }
  .contact .username {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400; }

.accounts {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.account {
  width: 25rem; }
  .account .account-logo {
    width: 5rem;
    margin: 0 auto 1rem; }

footer {
  width: 100%; }

.copyright {
  text-align: center;
  font-size: 1.5rem; }

@media only screen and (max-width: 600px) {
  header {
    height: 100%;
    margin-bottom: 2rem; }
    header .container {
      width: 100%;
      margin: 0; }
  .container {
    width: 100%;
    margin: 0; }
  .justify-sb {
    flex-direction: column-reverse;
    margin: 0; }
  .align-c-s {
    margin: 0; }
  .navbar {
    display: none;
    width: 100%;
    position: fixed;
    background-color: black;
    border-bottom: 1px solid rgba(226, 61, 81, 0.4);
    padding: 1rem 0;
    transition: all .5s;
    z-index: 10; }
    .navbar .navbar-brand {
      font-size: 1.5rem; }
    .navbar .navbar-nav {
      font-size: 1rem;
      list-style-type: none; }
      .navbar .navbar-nav .nav-item {
        display: inline-block;
        padding: 0.25rem .5rem;
        border: 2px solid #e23d51;
        margin: 0 .2rem;
        font-weight: 700;
        transition: .5s;
        cursor: pointer; }
        .navbar .navbar-nav .nav-item:hover {
          background-color: #e23d51; }
  .scrolling-active .navbar-nav .nav-item {
    border: none; }
  .selfie {
    width: 100%;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto; }
  .selfie__img {
    width: 100%;
    margin: 0; }
  .intro-text {
    display: flex;
    align-items: center;
    margin: 0; }
    .intro-text div {
      width: 100%;
      padding-top: 0; }
  h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2.5rem 0 0 1rem; }
  .word-b {
    display: inline-block; }
  .font-red {
    color: #e23d51; }
  .skills {
    color: #999999;
    font-weight: 600;
    padding: .5rem;
    text-align: center; }
  .download-resume-btn {
    display: block;
    width: fit-content;
    background-color: transparent;
    border: 2px solid #e23d51;
    color: white;
    font-size: 1.1rem;
    padding: .5rem;
    font-weight: 600;
    margin: 2rem auto;
    transition: .5s;
    outline: none; }
    .download-resume-btn:hover {
      background-color: #e23d51; }
  a {
    text-decoration: none; }
  .quotes {
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    background-color: #e23d51;
    clip-path: unset;
    -webkit-clip-path: unset; }
  blockquote {
    font-size: 1.5rem;
    width: 100%;
    margin: 1rem auto 0;
    padding: .5rem 1rem; }
  .slider {
    position: relative;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
    line-height: 1.5rem;
    height: 30rem;
    background-color: #e23d51;
    clip-path: unset;
    -webkit-clip-path: unset; }
    .slider h2 {
      text-align: center;
      margin: 1rem 0; }
    .slider .slide {
      position: absolute;
      opacity: 0; }
    .slider .slide.active {
      animation: fade 10s infinite; }
  .recommendation-letter-btn {
    font-size: 1.5rem; }
  @keyframes fade {
    0% {
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  .recommendation-letter-btn {
    display: inline;
    width: fit-content;
    text-align: center;
    color: white;
    text-decoration: underline; }
  .align-right {
    display: block;
    width: 100%;
    transform: translateX(0); }
  .projects h2 {
    font-size: 2rem;
    margin: 2rem 0; }
  .projects .mySlides {
    flex-direction: column;
    padding: 0; }
    .projects .mySlides .project__image {
      align-self: center;
      width: 15rem; }
    .projects .mySlides .second-project-image {
      width: 11rem; }
    .projects .mySlides .project__desc {
      align-self: center;
      width: 100%; }
      .projects .mySlides .project__desc--title {
        font-size: 2rem; }
      .projects .mySlides .project__desc--text {
        text-align: center;
        padding: .5rem; }
      .projects .mySlides .project__desc .technologies--container {
        display: flex;
        flex-direction: column; }
      .projects .mySlides .project__desc .technologies {
        width: 100%;
        margin: 1rem 0; }
  .contact {
    width: 100%;
    margin: 10rem 0; }
    .contact h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 5rem; }
    .contact a {
      color: white; }
    .contact .username {
      display: block;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 400; }
  .accounts {
    width: 80%;
    margin: 0 auto;
    display: block; }
  .account {
    width: 100%;
    margin-bottom: 5rem; }
    .account .account-logo {
      width: 5rem;
      margin: 0 auto 1rem; } }

/* Small devices (portrait tablets and large phones, 600px and up) */
