@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

// COLORS
$color-brick: #e23d51;
$color-black: #000;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: $color-black;
    color: white;
}
body {
    font-family: 'Montserrat', sans-serif;
}

// UTILITIES
.container {
    width:  90%;
    margin: 0 auto;
}

.justify-sb {
    display: flex;
    justify-content: space-between;
    
}
.align-c-s {
    align-content: stretch;
}



// Navbar
.navbar {
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba($color-brick, 0.4);
    padding: 1rem 0;
    .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-nav {
        font-size: 1rem;
        list-style-type: none;
    
        .nav-item {
            display: inline-block;
            padding: 0.25rem .5rem;
            border: 2px solid $color-brick;
            margin: 0 .2rem;
            font-weight: 700;
            transition: .5s;
            cursor: pointer;
            &:hover {
                background-color: $color-brick
            }
        }
        
    }
    
}

.selfie__img {
    width: 400px;
    margin-right: 100px;
}

.intro-text {
    display: flex;
    align-items: center;
    
    div {
        padding-top: 3rem;
    }
  
}

//words that occupy whole width.
.word-b {
    display: block;
}

.font-red {
    color: $color-brick;
}

// skills briefly mentioned at beginning of page.
.skills {
    color: #999999;
    font-weight: 600;
    padding: .5rem;
}

.download-resume-btn {
    display: inline-block;
    background-color: transparent;
    border: 2px solid $color-brick;
    color: white;
    font-size: 1rem;
    padding: .5rem;
    font-weight: 600;
    margin-top: 20px;
    transition: .5s;
     outline: none;
    &:hover {
        background-color: $color-brick
    }
}

a {
    text-decoration: none;
}

//Quotes
.quotes {
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 60%;
    margin: 0 auto;
    height: fit-content;
    background-color: $color-brick;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 92% 100%, 0% 100%);
    clip-path: polygon(10% 0, 100% 0%, 92% 100%, 0% 100%);

    
}

blockquote {
    width: 80%;
    margin: 0 auto;
}

// QUOTES SLIDER

.slider {
    position: relative;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 60%;
    margin: 0 auto;
    height: 200px;
    background-color: $color-brick;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 92% 100%, 0% 100%);
    clip-path: polygon(10% 0, 100% 0%, 92% 100%, 0% 100%);

}

.slide {
    position: absolute;
    opacity: 0;
}
.slide.active {
    
    animation: fade 10s infinite;
}



@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
